extends layout
block content
    - var dFormater = { weekday: 'long', year: 'numeric', month: 'short', day: 'numeric' }
    include _nav
    include _sidenav

    //- article
    .article
        //- Progress
        .progress
            .determinate(style="width: 0%")
        img.featured-image(src= post.featuredImage, alt="")

        .container.d-flex
            //- buttons for sharing and like button
            .article-share-btns
                btn.btn-floating#article-like
                    i.mdi.mdi-hand.mdi-rotate-270
                    i.mdi.mdi-hand.mdi-rotate-315
                    if post.likes && post.likes > 0
                        .badge(data-badge-caption="claps")= post.likes
                btn.btn-floating#share-facebook
                    i.mdi.mdi-facebook
                btn.btn-floating#share-twitter
                    i.mdi.mdi-twitter
                btn.btn-floating#share-instagram
                    i.mdi.mdi-instagram
                btn.btn-floating#share-linkedin
                    i.mdi.mdi-linkedin

            .article-content
                h1= post.title
                .article-info
                    div By
                        span.article-author.text-capitalize= post.author
                        |&nbsp; in
                        a.text-capitalize.article-category(href="/blog?category="+post.category)=  `${post.category}`
                    if post.updatedOn
                        div Originally published
                            span.article-publicationDate #{new Date(post.publicationDate).toLocaleDateString('en-US',dFormater)},
                            |updated
                            span.article-publicationDate #{new Date(post.updatedOn).toLocaleDateString('en-US',dFormater)}
                    else
                        div Originally published
                            span.article-publicationDate #{new Date(post.publicationDate).toLocaleDateString('en-US',dFormater)}

                <html>
                | !{post.content}
                </html>


                h2.text-demi What to read next:
                .suggested-articles
                    .suggested-article
                        img(src= next[0].featuredImage, alt="")
                        .py-2.px-3
                            a.h4(href= next[0].title.toLowerCase().replace(/(\s)/g, (w) => '-')+'?id='+next[0].id)= next[0].title
                            p= next[0].excerpt
                            .d-flex.justify-content-between.suggested-article-actions
                                .mdi.mdi-clock #{new Date(post.publicationDate).toLocaleDateString('en-US',dFormater)}
                                a.mdi.mdi-arrow-right(href= next[0].title.toLowerCase().replace(/(\s)/g, (w) => '-')+'?id='+next[0].id)
                    .suggested-article
                        img(src= next[1].featuredImage, alt="")
                        .py-2.px-3
                            a.h4(href= next[1].title.toLowerCase().replace(/(\s)/g, (w) => '-')+'?id='+next[1].id)= next[1].title
                            p= next[1].excerpt
                            .d-flex.justify-content-between.suggested-article-actions
                                .mdi.mdi-clock #{new Date(post.publicationDate).toLocaleDateString('en-US',dFormater)}
                                a.mdi.mdi-arrow-right(href= next[0].title.toLowerCase().replace(/(\s)/g, (w) => '-')+'?id='+next[0].id)

        .article-comments
            .container.pt-1
                h4 Responses
                .clearfix
                    .input-field
                        input.comment-author_input(type="text", name="",placeholder="Your name")
                    textarea.comment-textarea.materialize-textarea(name="new-comment", cols="80",placeholder="Your thoughts...")
                    if post.comments.length !== 0
                        btn.btn.float-right.add-comment.waves-effect.waves-ripple add comment
                    else
                        btn.btn.float-right.add-comment.waves-effect.waves-ripple.mb-2 add comment
                .comments
                    if post.comments
                        post.comments = post.comments.filter()
                        each comment in post.comments
                            .card.comment
                                .card-title
                                    span.comment-author= comment.author
                                    span.comment-publish-date #{new Date(comment.publicationDate).toLocaleDateString('en-US', {month:'short', day:'numeric', year:'2-digit'})}
                                .card-content.comment-content= comment.content
                                .card-action
                                    button.btn-icon.comment-replies 2 replies
                                        i.mdi.mdi-chevron-down


    //- include the footer
    include _footer
    //- include cookies conset
    include ../_cookiesConset




